{% extends 'basecontent.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    <div class="mainblock">
        <h2>{{title}}</h2>
        <div class="textblock greentopblock">
            <form action="" id="fastSearch" method="GET">
                <input type="text" name="title" id="namesearch" class="fancyfield" placeholder="Поиск документа по имени">
            </form>
        </div>
        <ul class="documentslist">
        {% for file in object_list %}
            <li class="documentitem {{file.file_type}}">
                <a href="{{file.template.url}}" >{{file.title}}<br/>({{file.get_file_type_display}}, {{file.template.size|filesizeformat}})</a>
            </li>
        {% endfor %}
        </ul>
        {% include 'partial/paginator.html' %}
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}