{% extends 'basecontent.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock greentopblock">
            <form action="" method="get" class="textsearch">
                <input type="search" name="fio" value="" placeholder="Поиск по компании" class="fancyfield"/>
                <button type="submit" class="lightbluebtn">Найти</button>
            </form>
        </div>
        <div class="textblock">
            <br/>
            <ul class="phonebooklist">
                {% for phone in object_list %}
                <li>
                    <span class="phonename"><a href="{{phone.get_absolute_url}}">{{phone.title}}</a></span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% include 'partial/paginator.html' %}
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}