{% extends 'basecontent.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    <div class="mainblock">
        <h2>{{title}}</h2>
        <div class="textblock">
            {% block detail_page %}
            <h2>{{ detail_page.title }}</h2>
            {% endblock %}

            <ul class="phonebooklist">
                {% for phone in detail_page.phonebook_set.all %}
                <li>
                    <span class="phonename">{{phone.title}}</span>
                    <span class="phonenumber">{{phone.phone}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}