{% extends 'basecontent.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    <div class="mainblock">
        <h2>Дни рождения</h2>
        {% for bd in object_list %}
        <div class="textblock eventblock blue">
            <div class="eventleftblock">
                <div class="eventheader">
                    <time>{{bd.birth_date}}</time>
                </div>
                <div class="eventanounce">
                    <h3><a href="{{bd.get_absolute_url}}">{{bd.title}}</a></h3>
                    <a href="{{bd.user.get_absolute_url}}">{{bd.user.get_full_name}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'partial/paginator.html' %}
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}