{% extends 'basecontent.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    <div class="mainblock">
        <h2>{{title}}</h2>
        <div class="textblock greentopblock">
            <form action="" id="fastSearch" method="GET">
                <input type="text" name="keyword" id="namesearch" class="fancyfield" placeholder="Поиск пользователя по имени и фамилии">
            </form>
        </div>
        {% for user in object_list %}
        <div class="textblock eventblock blue">
            <div class="eventleftblock">
                <div class="eventheader">
                    <time>{{user.date_joined}}</time>
                </div>
                <div class="eventanounce">
                    <h3><a href="{{user.get_absolute_url}}">{{user.get_full_name}}</a></h3>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'partial/paginator.html' %}
        <div class="clear"><br/></div>
    </div>
</div>
{% endblock %}