{% extends 'basecontent.html' %}
{% load static %}
{% block middle %}
<div class="middlecontentblock">
    <div class="userinfo">
        <div class="userphoto">
            {% ifequal profile request.user %}<a id="avatar">{% endifequal %}
            {% if profile.avatar %}
                    <img src="{{profile.avatar.url}}" alt="{{profile.get_full_name_without_post}}">
            {% else %}
                <p style="color:#000;text-align:center;">Загрузить фото</p>
            {% endif %}
            {% ifequal profile request.user %}</a>{% endifequal %}
        </div>
        <div class="userresume">
            <div id="usrdata">
                <h3>{{profile.get_full_name_without_post}}</h3>
                <div class="col2">
                    <p><b>Отдел:</b>{{profile.department|default:'---'}}</p>
                    <p><b>Должность:</b><br/>{{profile.post}}</p>
                    <p><b>Корпус:</b> {{profile.housing}}<br>
                    <b>Офис:</b> {{profile.office}}</p>
                </div>
                <div class="col2">
                    <p><b>Телефоны:</b><br>
                    <b>Рабочий:</b> {{profile.office_phone|default:'---'}}<br>
                    <b>Мобильный:</b> {{profile.cell_phone|default:'---'}}<br>
                    <b>Домашний:</b> {{profile.phone|default:'---'}}</p>
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <form action="{% url 'accounts:profile' request.user.pk %}" method="post" style='display: none;' id="chngfrm">
                {% csrf_token %}
                <table>
                {% for field in usrform %}
                    <tr><td>{{field.label}}</td><td>{{field}}</td></tr>
                {% endfor %}
                </table>
            </form>
            {% endif %}
            <div class="bottomblock">
            </div>
        </div>
    </div>
    <div class="mediablock phonebook">
        <h3>Телефоны сотрудников отдела</h3>
        {% for coworker in profile.coworkers %}
            {% if not forloop.counter|divisibleby:"2" %}
            <div class="col2">
            {% endif %}
                <p><b>{{coworker.get_full_name_without_post}}</b><br>
                Рабочий: {{coworker.office_phone|default:'---'}}<br>
                Сотовый: {{coworker.cell_phone|default:'---'}}<br>
                Домашний: {{coworker.phone|default:'---'}}</p>
            {% if forloop.counter|divisibleby:"2" or forloop.last %}
            </div>
            {% endif %}
        {% endfor %}
        <div class="bottomblock">
            <a href="{% url 'infos:phones' %}" class="phoneicon">Смотреть весь телефонный справочник</a>
        </div>
    </div>
    <div class="mediablock mediaarchive">
        <h3>Мои файлы</h3>
        <ul class="mediaarchivelist">
            <li class="mediaarchiveitem">
                <h4><a href="#" class="pseudolink">Зал К-1.1 Экспофорума</a></h4>
            </li>
            <li class="mediaarchiveitem">
                <h4><a href="#" class="pseudolink">Зал К-1.2 Экспофорума</a></h4>
            </li>
            <li class="mediaarchiveitem">
                {% ifequal profile request.user %}
                <h4><a href="#" class="pseudolink">Выставка «Балтийская неделя недвижимости»</a></h4>
                {% endifequal %}
            </li>
        </ul>
        <div class="bottomblock">
            <a href="#" class="mediaicon">Смотреть<br> все файлы</a>
        </div>
    </div>
    <div class="clear"></div>
</div>


{% if request.user.is_authenticated %}
<form action="{% url 'accounts:profile' request.user.pk %}" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} style='display: none;'>
    {% csrf_token %}
    <input id="id_avatar" type="file" name="{{form.avatar.html_name}}" value="{{form.avatar.value}}">
</form>
{%endif%}
{% endblock %}

{% block extrascripts %}
{% ifequal profile request.user %}
<script type="text/javascript">
    var media_path = '{% get_media_prefix %}';
    $('#avatar').on('click', function() {
        $('#id_avatar').click();
        ang('#id_avatar').fileupload({
            type: "POST",
            url: "{% url 'accounts:profile' request.user.pk %}",
            singleFileUploads: true,
            //formData: [],
            //dataType: 'json',
            done: function (e, data) {
                $.ajax({
                    url: "{% url 'accounts:userdetails' request.user.pk %}",
                    success: function( data ) {
                        $('#avatar > img').attr('src', media_path+data.avatar);
                        $('.miniavatar > img').attr('src', data.small_avatar);
                    }
                  });
            },
            //start: function (e) {
                //console.log('Uploads started');
            //},
            //autoUpload: false,
            sequentialUploads: true
        });
    });

    $(document).ready(function() {
        $('#usrdata').remove();
        //$('div.userresume').append($('#chngfrm'));
        $('div.userresume > form').attr('style', '');
    });
    function update_profile(dct) {
        $.ajax({
            type: "POST",
            data: dct,
            url: "{% url 'accounts:userdetails' request.user.pk %}",
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            success: function( data ) {
                ang.jGrowl('Профиль обновлен. Данные изменены');
            }
          });
    }
    $('input').focusout(function() {
        update_profile($(this)[0].name +'='+ $(this)[0].value);
    });
</script>
{% endifequal %}
{% endblock %}