{% extends 'basecontent.html' %}
{% load thumbnail %}
{% block middle %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
        <div class="sideblock bluebanner">
            <section class="sideblocktext centertext">
                <div class="clear"></div>
            </section>
        </div>
        <div class="sideblock">
        </div>
    </div>
    {% endblock %}
    <div class="mainblock">
        <div class="textblock">
        {% block detail_page %}
            <p><time>{{ detail_page.created }}</time></p>
            <p>{{ detail_page.title }}</p>
            {% block content %}
                {{detail_page.content|safe}}
            {% endblock %}
        {% endblock %}
        </div>
    {% for image in detail_page.image_set.all %}
        <div class="imagegallerybanner">
            <img src="{% thumbnail image.image 250x250 crop %}" alt="image.name">
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}