{% load thumbnail embed_video_tags %}
<div class="accordion noborder ">
    <h4 class="accordionlink"><span class="pseudolink">{{detail_page.title}}</span></h4>
    {{detail_page.content|safe}}
    <div class="accordiontext">
        <ul class="mediapreviewlist">
        {% for fl in detail_page.mediafile_set.all %}
            <li class="mediapreviewitem">
                {% if fl.is_image %}
                {% thumbnail fl.image 150x100 crop as thumb %}
                <a href="{{fl.image.url}}" id="{{fl.pk}}" rel="gallery" title="{{fl.title}}"><img src="{{thumb.url}}" alt="{{fl.pk}}"></a>
                {% endif %}

                {% if fl.is_video %}
                    {% video fl.video as video %} 
                <a href="#video-{{fl.pk}}" id="{{fl.pk}}" rel="gallery"><img src="{{ video.thumbnail }}" alt="{{fl.pk}}" width="150" height="100"></a>
                <div style="display:none">
                    <div class="textblock" id="video-{{fl.pk}}">
                        {% video video %}
                        <p>{{fl.title}}</p>
                    </div>
                </div>
                    {% endvideo %}
                {% endif %}

                {% if fl.is_file %}
                <a href="{{fl.fl.url}}" class="documentitem pdf">{{fl.title}}<br/>({{fl.fl.size|filesizeformat}})</a>
                {% endif %}
                <p>{{fl.title}}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>