{% extends 'basecontent.html' %}
{% block middle %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
        <div class="sideblock bluebanner">
            <section class="sideblocktext centertext">
                <div class="clear"></div>
            </section>
        </div>
        <div class="sideblock">
        </div>
    </div>
    {% endblock %}
    <div class="mainblock">
        <div class="textblock newstext">
            {% for detail_page in object_list %}
                {% include 'partial/gallery_object.html' with detail_page=detail_page %}
            {%endfor%}
        </div>
        <div class="clear"><br/></div>
    </div>
</div>
<script>
    ang('li.mediapreviewitem > a').not('.documentitem').fancybox();
</script>
{% endblock %}