{% load conversejs %}

<!DOCTYPE html>
<html>
{% block head %}
    {% include 'partial/head.html' %}
{% endblock %}

{% block body %}
    <body class="w1280px">
        {% block header %}
            {% include 'partial/header.html' %}
        {% endblock %}

        <section>
            <div class="container">
                {% block top %}
                    {% include 'partial/simple_topblock.html' %}
                {% endblock %}
                {% block middle %}
                    {% include 'partial/middleblock.html' %}
                {% endblock %}
            </div>
        </section>


        {% block footer %}
            {% include 'partial/footer.html' %}
        {% endblock %}

        {% if request.user.is_authenticated %}
            {% conversejs_initialize %}
            {% conversejs_chatpanel %}
            {% if user_jid %}
            <script>
                require(['converse'], function (converse) {
                    converse.initialize({
                        allow_otr: true,
                        auto_list_rooms: false,
                        auto_subscribe: false,
                        bosh_service_url: 'https://bind.conversejs.org', // Please use this connection manager only for testing purposes
                        debug: true ,
                        hide_muc_server: false,
                        i18n: locales.ru, // Refer to ./locale/locales.js to see which locales are supported
                        prebind: false,
                        show_controlbox_by_default: true,
                        xhr_user_search: false,
                    });
                    $(document).ready(function () {
                        var form = $("form[id=converse-login]");
                        form.find("input[name=jid]").val('{{user_jid.jid}}');
                        form.find("input[name=password]").val('{{user_jid.password}}');
                        form.submit();
                    });
                });
            </script>
            {% endif %}
        {% endif %}
        {% block extrascripts %}{% endblock %}
    </body>
{% endblock %}
</html>