{% extends 'basecontent.html' %}

{% block middle %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    {% endblock %}
    <div class="mainblock">
        <div class="textblock newstext">
        {% block detail_page %}
            <p><a href="{{ detail_page.list_url }}">Все {{reverse_url_name}}</a></p>
            <h2>{{ detail_page.title }}</h2>
            <time>{{ detail_page.birth_date }}</time>
            <a href="{{detail_page.user.get_absolute_url}}">{{detail_page.user.get_full_name}}</a>
            {% block content %}
                {{detail_page.content|safe}}
            {% endblock %}
            {% for wish in detail_page.wishes.all %}
                {{wish.user.get_full_name}} написал:
                {{wish.content|safe}}
            {% endfor %}
            {% if request.user.is_authenticated %}
            <form action="" method="post" >
                {% csrf_token %}
                {{wish_form.content}}
                <button type="submit" class="lightbluebtn">Отправить пожеление</button>
            </form>
            {% endif %}
        {% endblock %}
        </div>
    </div>
</div>
{% endblock %}