﻿{% extends 'basecontent.html' %}
{% block middle %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    {% endblock %}
    <div class="mainblock">
        <h2>Календарь событий</h2>
        {% for event in calendar_events %}
        <div class="textblock eventblock {{clrs|random}}">
            <div class="eventleftblock">
                <div class="eventheader">
                    <time>{{event.start_date}} – {{event.end_date}}</time>
                </div>
                <div class="eventanounce">
                    <h3>{{event.title}}</h3>
                    {{event.content|safe}}
                </div>
            </div>
        </div>
        {% empty %}
            События отсутствуют
        {% endfor %}
    </div>
</div>
{% endblock %}