{% extends 'base.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="mediablock contest">
        {% include 'partial/newsbar.html' with newsbar_title='Опросы' list=quiz_list icon='contesticon' link='main:quiz_list' %}
    </div>
    <div class="mediablock bulletinboard">
        <h3>Объявления сотрудников</h3>
        <ul class="newsbarlist">
            {% for page in ads %}
                <li class="{% if item_class%}{{item_class}}{%else%}newsbaritem{%endif%}">
                    <p><time>{{page.created}}</time></p>
                    <p><a href="{{page.get_absolute_url}}" >{{page.title}}</a></p>
                </li>
            {% endfor %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'main:ads_list'  %}" class="bulletinicon">Читать все объявления сотрудников</a>
            <a href="{% url 'main:create_ad' %}">Добавить объявление</a>
        </div>
    </div>
    <div class="mediablock photoarchive">
        <h3>Карусель фотографий</h3>
        <ul class="mediaarchivelist">
            {% for page in image_galleries %}
                <li class="mediaarchiveitem">
                    <h4><a href="{{page.get_absolute_url}}" class="pseudolink">{{page.title}}</a></h4>
                </li>
            {% endfor %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'filestorage:image_gallery_list' %}" class="photoicon">Смотреть все фотографии</a>
        </div>
    </div>
    <div class="mediablock videoarchive">
        <h3>Вопросы</h3>
        <ul class="mediaarchivelist">
            {% for page in questions %}
                <li class="mediaarchiveitem">
                    <h4><a href="{{page.get_absolute_url}}" class="pseudolink">{{page.title}}</a></h4>
                </li>
            {% endfor %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'main:questions' %}" class="videoicon">Смотреть все вопросы</a>
            <a href="{% url 'main:create_question' %}">Добавить вопрос</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}