{% extends 'basecontent.html' %}
{% load mptt_tags %}
{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    <div class="mainblock">
        <h2>Структура компании</h2>
        <div class="textblock greentopblock">
            <form action="#" id="fastSearch">
                <input type="text" name="keyword" id="namesearch" class="fancyfield" placeholder="Поиск сотрудника по фамилии и имени">
            </form>
        </div>
        <div class="textblock eventblock blue" id="cs_tree">
            {% full_tree_for_model main.CompanyStructure as nodes %}
            {% if nodes %}
            <ul class="nomarker nomargin">
            {% recursetree nodes %}
                <li>
                    <a href="#data-{{node.pk}}" class="pseudolink fancybox">{{ node.name }}</a>
                    <div style="display:none"><div id="data-{{node.pk}}" style="color:#000;" class="modaltext">{{node.content|safe}}</div></div>
                    {% if not node.is_leaf_node %}
                        <ul class="nomarker">
                            {{ children }}
                        </ul>
                    {% endif %}
                    {% if node.dep_users.all %}
                    <ul class="users">
                        {% for  user in node.dep_users.all %}
                        <li><a href="{{user.get_absolute_url}}">{{user.get_full_name}}</a></li>
                        {%endfor%}
                    </ul>
                    {%endif%}
                </li>
            {% endrecursetree %}
            </ul>
            {% endif %}
        </div>
        {% include 'partial/paginator.html' %}
        <div class="clear"><br/></div>
    </div>
</div>
<script type="text/javascript"> 
    ang(document).ready(function () {
        //развешиваем стили по дереву
        ang('#cs_tree').addClass('jstree jstree-1 jstree-default');
        ang('#cs_tree > ul').addClass('jstree-container-ul jstree-children');
        ang('#cs_tree > ul ul:not(".users")').addClass('jstree-children');
        ang('.modaltext ul').removeClass('jstree-children');
        ang('.jstree-children > li:has(ul)').addClass('jstree-node jstree-closed');
        ang('.jstree-children > li:not(:has(ul))').addClass('jstree-node  jstree-leaf');
        ang('.jstree-children > li').prepend('<i class="jstree-icon jstree-ocl"></i>');
        //открываем-закрываем
        ang('.jstree-node .jstree-ocl').toggle(
            function(){
                ang(this).parent().removeClass('jstree-closed').addClass('jstree-open');
                },
            function(){
                ang(this).parent().removeClass('jstree-open').addClass('jstree-closed');
                }
            );

        //поиск пользователя
        ang('#namesearch').keyup(function(){
            var searchname = ang(this).val().toLowerCase();
            //ang('.jstree-node').removeClass('search-node');
            ang('.jstree-node').not('.click-node').removeClass('jstree-open').addClass('jstree-closed');
            ang('.users li').each(function(){
                ang(this).find('a').removeClass('highlight');
                var userStr = ang(this).text();
                if((userStr.toLowerCase().indexOf(searchname) >= 0)&&(searchname)){
                    //ang(this).parents('.jstree-node').removeClass('jstree-closed').addClass('jstree-open search-node');
                    ang(this).parents('.jstree-node').removeClass('jstree-closed').addClass('jstree-open');
                    ang(this).find('a').addClass('highlight');
                    }
                });
            
        });
    });
</script>
{% endblock %}