{% extends 'basecontent.html' %}
{% load widget_tweaks %}
{% block middle %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    {% endblock %}
    {% if request.user.is_authenticated %}
    <div class="mainblock">
        <div class="textblock">
            <h2>Вопросы</h2>
            <div class="questionwrapper">
                <form class="questionreply"  id="question_form" action="" method="post">
                    {% csrf_token %}
                    {% include 'partial/quser.html' with user=request.user %}
                    <div class="questiontext">
                        {% render_field form.title placeholder="Тема вопроса" class+="questiontitle" %}
                        {% render_field form.content placeholder="Вопрос" class+="questioncomment" %}
                        <div class="questioninfo">
                            <time>{% now "DATE_FORMAT" %}</time>
                        </div>
                        <button type="submit" class="lightbluebtn">Спросить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}