{% extends 'basecontent.html' %}
{% load widget_tweaks %}
{% block middle %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    {% endblock %}
    <div class="mainblock">
        <div class="textblock newstext">
        {% if request.user.is_authenticated %}
        <form id="ad_form" action="" method="post">
            {% csrf_token %}
            <div class="textblock">
                <p id="form_error" class="error">Введите заголовок</p>
                {% render_field form.title placeholder="Заголовок" %}<br/>
                {{form.content}}
                <button type="submit">Добавить объявление</button>
            </div>
        </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}