{% extends 'base.html' %}

{% block top %}
    {% include 'partial/topblock_with_logo.html' %}
    {# include 'partial/simple_topblock.html' #}
{% endblock %}

{% block middle %}
<div class="middlecontentblock">
    <div class="mediablock newsbar">
        {% include 'partial/newsbar.html' with newsbar_title='Новости' list=news link='main:news_list' icon='allnewslink newsicon' %}
    </div>
    <div class="mediablock bulletinboard" style="padding: 0px 0px 0px 0px;">
        {# <!-- VK Widget —> #}
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
        <div id="vk_groups"></div>
        <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 2, width: "596", height: "288"}, 8134885);
        </script>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}