{% extends 'base.html' %}
{% load mathfilters %}
{% block middle %}
<div class="middlecontentblock">
    <div class="mediablock scheme">
        <h3>Планы и схемы</h3>
        <ul class="schemelist col3">
        {% with plans.count|div:3 as num %}
        {% for plan in plans %}
            <li><a href="{{plan.planfile.url}}" class="fancybox">{{plan.title}}</a></li>
            {% if forloop.counter|divisibleby:num and not forloop.last %}
        </ul>
        <ul class="schemelist col3">            
            {% endif %}
        {% endfor %}
        {% endwith %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'main:plans' %}" class="schemeicon">Смотреть вcе планы и схемы</a>
        </div>
    </div>
    <div class="mediablock doctemplates">
        <h3>Шаблоны документов</h3>
        <ul class="documentslist">
        {% for file in docs %}
            <li class="documentitem {{file.file_type}}">
                <a href="{{file.template.url}}" >{{file.title}}<br/>({{file.get_file_type_display}}, {{file.template.size|filesizeformat}})</a>
            </li>
        {% endfor %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'infos:files' %}" class="docicon">Смотреть все шаблоны документов</a>
        </div>
    </div>
    <div class="mediablock phonebook">
        <h3>Телефонный справочник дочерних компаний</h3>
        <ul class="phonebooklist">
        {% for subsidairy in phones %}
            <li>
                <span class="phonename"><a href="{{subsidairy.get_absolute_url}}">{{subsidairy.title}}</a></span>
            </li>
        {% endfor %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'infos:phones' %}" class="phoneicon">Смотреть весь телефонный справочник</a>
        </div>
    </div>
    <div class="mediablock mediaarchive">
        <h3>Медиаархив</h3>
        <ul class="mediaarchivelist">
            {% for page in galleries %}
                <li class="mediaarchiveitem">
                    <h4><a href="{{page.get_absolute_url}}" class="pseudolink">{{page.title}}</a></h4>
                </li>
            {% endfor %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'filestorage:gallery_list' %}" class="mediaicon">Смотреть весь медиаархив</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}