{% extends 'basecontent.html' %}
{% load widget_tweaks %}
{% block middle %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    {% endblock %}
    <div class="mainblock">
        <div class="textblock">
        {% block detail_page %}
            <p><a href="{{ detail_page.list_url }}">Все {{reverse_url_name}}</a></p>
            <h2>{{ detail_page.title }}</h2>

            <div class="questionwrapper">
                {% include 'partial/quser.html' with user=detail_page.user %}
                <div class="questiontext">
                    <div class="questioninfo">
                        <time>{{detail_page.created|date:"d M Y"}}</time> <a href="{{detail_page.get_absolute_url}}">ссылка</a>
                    </div>
                    <h3>{{detail_page.title}}</h3>
                    {{detail_page.content|safe}}
                </div>
                {% for comment in detail_page.comments.all %}
                <div class="questionanswer">
                    {% include 'partial/quser.html' with user=comment.user %}
                    <div class="questiontext">
                        {{comment.content|safe}}
                    </div>
                </div>
                {% endfor%}
                {% if request.user.is_authenticated %}
                <div class="questionanswer">
                    <form class="questionreply" action="" method="post" >
                        {% csrf_token %}
                        {% include 'partial/quser.html' with user=request.user %}
                        <div class="questiontext">
                            {% render_field comment_form.content placeholder="Ответ" class+="questioncomment" %}
                            <div class="questioninfo">
                                <time>{% now "DATE_FORMAT" %}</time>
                            </div>
                            <button type="submit" class="lightbluebtn">Ответить</button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        {% endblock %}
        </div>
    </div>
</div>
{% endblock %}