{% extends 'basecontent.html' %}

{% block middle %}
<div class="middlecontentblock">
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    <div class="mainblock">
        <div class="textblock">
            <h2>{{title}}</h2>
            {% for n in object_list %}
                <div class="questionwrapper">
                    {% include 'partial/quser.html' with user=n.user %}
                    <div class="questiontext">
                        <div class="questioninfo">
                            <time>{{n.created|date:"d M Y"}}</time> <a href="{{n.get_absolute_url}}">ссылка</a>
                        </div>
                        <h3>{{n.title}}</h3>
                        {{n.content|safe}}
                    </div>
                    {% for comment in n.comments.all %}
                    <div class="questionanswer">
                        {% include 'partial/quser.html' with user=comment.user %}
                        <div class="questiontext">
                            {{comment.content|safe}}
                        </div>
                    </div>
                    {% endfor%}
                </div>
            {% endfor %}
            {% include 'partial/paginator.html' %}
            <div class="clear"><br/></div>
        </div>
    </div>
</div>
{% endblock %}