{% extends 'basecontent.html' %}
{% load mathfilters %}
{% block middle %}
<div class="middlecontentblock">
    {% block sidebar %}
    <div class="sidebar">
        {% include 'partial/announcements.html' %}
    </div>
    {% endblock %}
    <div class="mainblock">
        <div class="textblock newstext">
        {% block detail_page %}
            <p><a href="{{ detail_page.list_url }}">Все {{reverse_url_name}}</a></p>
            <h2>{{ detail_page.title }}</h2>
            <time>{{ detail_page.created }}</time>
            {% block content %}
                {{detail_page.content|safe}}
            {% endblock %}
        {% endblock %}
            {% if can_vote and request.user.is_authenticated %}
            <form class="" action="{{detail_page.get_absolute_url}}" method="post">
                {% csrf_token %}
                {% for ch in detail_page.choices.all %}
                <input type=radio name="quiz_choice" value="{{ch.pk}}"> {{ch.title}}<br/>
                {% endfor %}
                <button type="submit" class="lightbluebtn">Проголосовать</button>
            </form>
            {% else %}
                <p>Результаты голосования:</p>
                {% for d in results.1 %}
                    {{d.choice__title}}: {{d.num_users|mul:100|div:results.0.user__count|floatformat:'0'}}%<br/>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}