{% extends 'base.html' %}
{% load mptt_tags %}

{% block middle %}
<div class="middlecontentblock">
    <div class="mediablock newstaff">
        <h3>Новые сотрудники</h3>
        <ul class="newstafflist">
        {% for user in new_users %}
            <li class="newstaffitem">
                <p><time>{{user.date_joined}}</time></p>
                <p><a href="{{user.get_absolute_url}}">{{user.get_full_name}}</a></p>
            </li>
        {% empty %}
            <li class="newstaffitem">-</li>
        {% endfor %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'accounts:new_users' %}" class="stafficon">Смотреть всех новых сотрудников</a>
        </div>
    </div>

    <div class="mediablock bulletinboard">
        {% include 'partial/newsbar.html' with newsbar_title='Обучение сотрудников' list=empltraining icon='bulletinicon' link='main:empltraining_list' %}
    </div> 

    <div class="mediablock orgstrukture">
        <h3>Организационная структура</h3>
        {% if system_tunes.cs_image_url %}
            <a class="fancybox" href="{{system_tunes.cs_image.url}}"><img src="{{system_tunes.cs_image_url}}"></a>
        {% else %}
        {% for node in company_structure %}
            <ul class="nomarker nomargin">
                <li>{{ node.name }}
                    {% comment %}
                    {% for child in node.get_children %}
                        <ul class="nomarker">
                            <li>{{ child.name }}</li>
                        </ul>
                    {% endfor %}
                    {% endcomment %}
                </li>
            </ul>
        {% endfor %}
        {%endif%}
        <div class="bottomblock">
            <a href="{% url 'main:company_structure' %}" class="orgstruktureicon">Все подразделения</a>
            <a href="{% url 'main:directions' %}" class="orgstruktureicon">Дирекции</a>
        </div>
    </div>

    
    <div class="mediablock vacationgraph">
        <h3>Дни рождения</h3>
        <ul class="vacationlist">
        {% for bd in birth_date %}
            <li class="vacationitem">
                <p><time>{{bd.birth}}</time></p>
                <p><a href="{{bd.get_absolute_url}}">{{bd.title}}</a></p>
            </li>
        {% empty %}
            <li> --- </li>
        {% endfor %}
        </ul>
        <div class="bottomblock">
            <a href="{% url 'accounts:birthday_users' %}" class="vacationicon">Смотреть все дни рождения</a>
        </div>
    </div>
    <div class="clear"></div>     
</div>
{% endblock %}