<div class="announcements">
    <h3>Дни рождения</h3>
    {% if birth_date %}
        <ul class="announcementslist">
            {% for event in birth_date %}
            <a href="{{event.get_absolute_url}}">
            <li class="announcement"><time>{{event.birth_date}}</time> {{event.title}}</li>
            </a>
            {% endfor%}
            {% comment %}
            {% for event in calendar_events %}
            <a href="{{event.get_absolute_url}}">
            <li class="announcement"><time>{{event.start_date}} – {{event.end_date}}</time> {{event.title}}</li>
            </a>
            {% endfor%}
            {% endcomment %}
        </ul>
    {% endif %}
    <a href="{% url 'accounts:birthday_users' %}" class="allannouncements eventscalendaricon">Смотреть все<br/>дни рождения</a>
    {% if newbies %}
</div>
<div class="announcements">
    <h3>Новички</h3>
        <ul class="announcementslist">
            {% for event in newbies %}
            <a href="{{event.get_absolute_url}}">
            <li class="announcement">{{event.title}}</li>
            </a>
            {% endfor%}
        </ul>
    <a href="{% url 'main:newbies' %}" class="allannouncements eventscalendaricon">Смотреть<br/>все новички</a>
    {% endif %}
</div>