<footer>
    <div class="container">
        <div class="copyright">
            Экспофорум &copy; 2014
        </div>
        <div class="footercontacts">
            +7 (812) 240-40-40  <a href="mailto:info@expoforum.ru">info@expoforum.ru</a>
        </div>
        <div class="footersocial">
            <p>Экспофорум в соцсетях:</p>
            <ul class="sociallinks">
                <li><a href="#" class="socialicon vkcom">vkcom</a></li>
                <li><a href="#" class="socialicon facebook">facebook</a></li>
                <li><a href="#" class="socialicon googleplus">googleplus</a></li>
                <li><a href="#" class="socialicon twitter">twitter</a></li>
                <li><a href="#" class="socialicon youtube">youtube</a></li>
            </ul>
        </div>
    </div>
{% block footer_extra_scripts%}
<script>ang('a.fancybox').fancybox();</script>
{% endblock %}
</footer>