{% load static %}
{% load thumbnail %}
{% get_static_prefix as STATIC_PREFIX %}
<header>
    <div class="container">
        <div class="headlogo">
            <a href="/">ExpoLife</a>
        </div>
        <div class="headcontacts">
            +7 (812) <b>240-40-40</b> <a href="mailto:info@expoforum.ru">info@expoforum.ru</a>
        </div>
        <div class="rightsection">
        {% if user.is_authenticated %}
            <div class="headerprofile">
                <div class="miniprofileblock">
                    <div class="miniavatar">
                        {% if user.avatar %}
                        {% thumbnail user.avatar 50x50 upscale as thumb %}
                        <img src="{{thumb.url}}" alt="{{user.get_full_name_without_post}}">
                        {% endif %}
                    </div>
                    <div class="miniuserinfo">
                        <p class="miniusername"><a href="{{user.get_absolute_url}}">{{user.get_full_name_without_post}}</a></p>
                        <p class="miniuserdescr">{{user.post}}</p>
                    </div>
                </div>
                <form class="logout" action="{% url 'rest_framework:logout' %}?next=/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="greenbtn">Выйти</button>
                </form>
            </div>
        {% else %}
            <div class="headerlogin">
                <form class="" action="{% url 'rest_framework:login' %}" method="post">
                    {% csrf_token %}
                    <input type="e-mail" name="username" value="" placeholder="Логин" maxlength="100" required="required">
                    <input type="password" name="password" value="" placeholder="Пароль" maxlength="100" required="required">
                    <button type="submit" class="lightbluebtn">Войти</button>
                </form>
            </div>
        {% endif %}
        </div>
    </div>
</header>