{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% load conversejs %}
<head>
    <title>F-International</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link href="{{STATIC_PREFIX}}css/jquery.jgrowl.min.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_PREFIX}}css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_PREFIX}}css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_PREFIX}}css/themes/default/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <link href="{{STATIC_PREFIX}}css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery-ui-1.10.4.min.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.jgrowl.min.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/main.js"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}ckeditor/ckeditor/ckeditor.js"></script>
    <!--[if lt IE 9]>
        <script src="{{STATIC_PREFIX}}js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var ang = jQuery.noConflict();
        ang(document).ready(function () {
                var slideNav = ang('#slidernavlist');
                var slideList = ang('#promoslider > ul');
                
                ang('.slidernavlink').click(function(e){
                    e.preventDefault();
                    var slideNum = $(this).parent().index();
                    changeslide(slideNum,slideNav,slideList);
                    });
                ang('#promoslider').owlCarousel({
                    navigation : true, // Show next and prev buttons
                    slideSpeed : 300,
                    paginationSpeed : 400,
                    pagination:true,
                    singleItem:true,
                    stopOnHover:true,
                    navigationText:["<a class='bannersnav prev'>&lt;</a>","<a class='bannersnav next'>&gt;</a>"]
                    });
                slideNav.find('li:first').find('a').trigger('click');
                var timerId = setInterval(nextSlide, 10000,slideNav);
        });
    </script>
    <script type="text/javascript">
        ang(function() {
          if (typeof CKEDITOR !== 'undefined') {
            CKEDITOR.config.disableNativeSpellChecker = false;
            //CKEDITOR.config.contentsCss = '/static/css/style.css'
            CKEDITOR.config.forcePasteAsPlainText = true;

            CKEDITOR.on('dialogDefinition', function (ev) {
                var dialogName = ev.data.name;
                var dialogDefinition = ev.data.definition;
                dialogDefinition.minHeight =100;
                dialogDefinition.minWidth = 400;
                var editor = ev.editor;

                dialogDefinition.removeContents('Link');
                dialogDefinition.removeContents('advanced');

                if (dialogName == 'image') {
                    var infoTab = dialogDefinition.getContents('info');
                    dialogDefinition.onOk = function (e) {
                        console.log(dialogDefinition.dialog.getValueOf("info", "txtHeight"));
                        var imageSrcUrl = e.sender.originalElement.$.src;
                        var width = e.sender.originalElement.$.width;
                        var height = e.sender.originalElement.$.height;
                        var txtHeight = dialogDefinition.dialog.getValueOf("info", "txtHeight");
                        var txtWidth = dialogDefinition.dialog.getValueOf("info", "txtWidth");
                        if (txtHeight) {
                          height = txtHeight;
                        };
                        if (txtWidth) {
                          width = txtWidth;
                        };
                        imageSrcUrl = imageSrcUrl.replace(/^.*\/\/[^\/]+/, '');
                        var imgHtml = CKEDITOR.dom.element.createFromHtml('<a class=\"fancybox\" href=\"' + imageSrcUrl + '\"><img src=' + imageSrcUrl + ' width=\"' + width + '\" height=\"' + height + '\" alt=\"\" /></a>');
                        editor.insertElement(imgHtml);
                    };

                    infoTab.remove('txtHSpace');
                    infoTab.remove('txtVSpace');
                    infoTab.remove('txtBorder');
                    //infoTab.remove('txtHeight');
                    //infoTab.remove('txtWidth');
                    infoTab.remove('cmbAlign');
                    infoTab.remove('ratioLock');

                    infoTab.get('htmlPreview').style = 'display: none;'
                }
            });
          }
        });
    </script>
    {% conversejs_static %}
</head>