<div class="newsbar">
    <h3>Интерактивный план комплекса</h3>
    <p>Находится в разработке</p>
</div>
<div class="clear"></div>
<div class="newsbar">
    <h3>Телефонный справочник</h3>
    <p>Находится в разработке</p>
</div>
<div class="clear"></div>
<div class="newsbar">
    <h3>Подача заявок</h3>
    <p>Находится в разработке</p>
</div>