<h3>{{newsbar_title}}</h3>
<ul class="newsbarlist">
    {% for page in list %}
        <li class="{% if item_class%}{{item_class}}{%else%}newsbaritem{%endif%}">
            <p><time>{{page.created}}</time></p>
            <p><a href="{{page.get_absolute_url}}" >{{page.title}}</a></p>
        </li>
    {% endfor %}
</ul>
<div class="bottomblock">
    <a href="{% url link %}" class="{{icon}}">Читать все {{newsbar_title|lower}}</a>
</div>