{% if is_paginated %}
<div class="paginationblock">
    <ul class="pageslist">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}
        {% for n in paginator.page_range %}
        <li><a href="?page={{n}}" {% ifequal n page_obj.number %}class="currentPage"{%endifequal%}>{{n}}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}