{% load thumbnail %}
<div class="questionuser">
    <a href="{{user.get_absolute_url}}">
        {% if user.avatar %}
        {% thumbnail user.avatar 50x50 upscale as thumb %}
        <img src="{{thumb.url}}" alt="{{user.get_full_name_without_post}}">
        {% endif %}<br/>
        <span>{{user.get_full_name_without_post}}</span>
    </a>
</div>