<div class="topcontentblock">
    <nav class="mainnav">
        <ul class="mainnavlist">
            <li><a href="{% url 'main:index' %}" class="mainnavlink">Главная</a></li>
            <li><a href="{% url 'main:company_life' %}" class="mainnavlink">Жизнь компании</a></li>
            <li><a href="{% url 'main:staff' %}" class="mainnavlink">Сотрудники</a></li>
            <li><a href="{% url 'main:info' %}" class="mainnavlink">Справочная информация</a></li>
            
        </ul>
    </nav>
</div>