<div class="topcontentblock">
    <div class="sidebar">
        <div class="topsubmenu">
            {% include 'partial/announcements.html' %}
        </div>
    </div>
    <div class="slidercontent">
        <ul class="slidercontentlist owl-carousel owl-theme" id="promoslider">
            {% for sl in newssliders %}
            <li><a href="{{sl.news.get_absolute_url}}" class="slidercontentlink"><img src="{{sl.image.url}}" alt="E"></a></li>
            {% empty %}
            <li><a href="#" class="slidercontentlink"><span class="slidercontenttitle">Петербургский Международный Газовый Форум 2014</span><img src="/static/images/slider1.jpg" alt="E"></a></li>
            <li><a href="#" class="slidercontentlink"><span class="slidercontenttitle">Агрорусь</span><img src="/static/images/slider2.jpg" alt="E"></a></li>
            <li><a href="#" class="slidercontentlink"><span class="slidercontenttitle">Петербургский международный форум здоровья</span><img src="/static/images/slider3.jpg" alt="E"></a></li>
            {% endfor %}
        </ul>
    </div>
    {% block mainnav %}
        {% include 'partial/simple_topblock.html' %}
    {% endblock %}
</div>