<div class="topcontentblock">
    <div class="sidebar">
        <div class="topsubmenu">
            <ul class="topsubmenulist">
                <li><a href="#" class="topsubmenulink eventscalendaricon">Календарь событий</a></li>
                <li><a href="#" class="topsubmenulink schemeicon">План и инфраструктура</a></li>
                <li><a href="#" class="topsubmenulink routeicon">Как добраться</a></li>
            </ul>
        </div>
        <div class="slidernav">
            <ul class="slidernavlist" id="slidernavlist">
                <li><a href="#" class="slidernavlink">Услуги для экспонентов</a></li>
                <li><a href="#" class="slidernavlink">КВЦ ЭкспоФорум</a></li>
                <li><a href="#" class="slidernavlink long">Организация мероприятий «под ключ»</a></li>
            </ul>
        </div>
    </div>
    <div class="slidercontent" id="promoslider">
        <ul class="slidercontentlist">
            <li><a href="#" class="slidercontentlink"><img src="/static/images/slider1.jpg" alt="E"></a></li>
            <li><a href="#" class="slidercontentlink"><img src="/static/images/slider2.jpg" alt="E"></a></li>
            <li><a href="#" class="slidercontentlink"><img src="/static/images/slider3.jpg" alt="E"></a></li>
        </ul>
    </div>
    <nav class="mainnav">
        <ul class="mainnavlist">
            <li><a href="#" class="mainnavlink">Организаторам</a></li>
            <li><a href="#" class="mainnavlink">Участникам</a></li>
            <li><a href="#" class="mainnavlink">Посетителям</a></li>
            <li><a href="#" class="mainnavlink">Прессе</a></li>
        </ul>
    </nav>
    <div class="infobannersblock">
        <div class="announcements">
            <h3>Ближайшие события</h3>
            <ul class="announcementslist">
                <li class="announcement"><time>26.08 – 01.09</time> Агрорусь</li>
                <li class="announcement"><time>10.09 – 13.09</time> Энергетический форум</li>
                <li class="announcement"><time>07.10 – 10.10</time> Петербургский Международный Газовый Форум 2014</li>
                <li class="announcement"><time>15.10 – 17.10</time> Биоиндустрия 2014</li>
                <li class="announcement"><time>15.10 – 17.10</time> Петербургский международный форум здоровья</li>
            </ul>
            <a href="#" class="allannouncements eventscalendaricon">Смотреть все события в календаре</a>
        </div>
        <div class="infobanner greenbanner">
            <img src="/static/images/banner1.jpg" alt="Агрорусь">
            <section class="infobannertext">
                <p><time>26 августа — 1 сентября</time></p>
                <h3>Агрорусь</h3>
                <p>XXII международная агропромышленная выставка-ярмарка. Специализированные экспозиции. Деловая программа...</p>
            </section>
        </div>
        <div class="infobanner lightbluebanner">
            <img src="/static/images/banner2.jpg" alt="Энергетический форум">
            <section class="infobannertext">
                <p><time>10 — 13 сентября</time></p>
                <h3>Энергетический форум</h3>
                <p>14-й Петербургский международный энергетический форум – конгрессно-выставочные мероприятия...</p>
            </section>
        </div>
        <div class="infobanner bluebanner" id="advanced">
            <img src="/static/images/banner3.jpg" alt="Петербургский Международный Газовый Форум 2014">
            <section class="infobannertext">
                <p><time>7 октября — 10 октября</time></p>
                <h3>Петербургский Международный Газовый Форум 2014</h3>
            </section>
        </div>
    </div>
</div>